html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, em, img, strong, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0 none;
  margin: 0;
  outline: 0 none;
  padding: 0;
}

img:focus{
  outline: 0 none;
}

a img {
	border : none;
}

ol, ul {
  list-style: none outside none;
}

a:link, a:visited, a:hover, a:active { 
  outline:none 
}

img { 
  border: none; 
}

#banner{
	background-color: #000;
	background-image: url('../images/banner.jpg');
	background-repeat: no-repeat;
	background-position: top center;
	
	height: 300px;
}

#banner-content{
	background-image: url('../images/banner_logo.png');
	background-repeat: no-repeat;
	background-position: center center;
	
	height: 300px;
}

body {
	background-color: white;
/*  padding: 0px;
	margin: 0px;*/
}

a {
	color: blue;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

img {
	border: none;
}

h1 {
	font-size: 1.7em;
}

table {
	font-size: 1em;
	border-collapse: collapse;
}

td, th {
	border: thin solid #666666;
	padding: 3px;
}

td.label, th {
	background-color: #CCCCCC;
	font-weight: bold;
}

code {
	background-color: #DDDDDD;
}

#div_logo {
	width:150px;
	text-align:center;
	float:left;
}

#div_titre {
	padding-bottom: 30px;
}

.titre {
	font-weight:bold;
	font-size:2.5em;
}

.sous_titre {
	font-style:italic;
	font-size:1.5em;
}

.center {
	text-align: center;
}

.explications {
	font-size:0.8em;
	width:600px;
	text-align:justify;
}

.download {
	font-weight:bold;
}