<!DOCTYPE html>

<html lang="fr">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

    <!-- <base href="http://rezomen.fr/" /> -->

    <title>Supélec Rézo</title>

    <link rel="stylesheet" type="text/css" href="assets/stylesheets/master.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="assets/stylesheets/menu.css" media="screen" />
	<!--[if lte IE 9]>
		<link rel="stylesheet" href="assets/stylesheets/ie.css" type="text/css" media="screen" />
	<![endif]-->

    <link rel="icon" type="image/png" href="assets/images/favicon.png" />

    <script type='text/javascript' src='assets/javascript/jquery-1.7.2.min.js'></script>
  </head>

  <body>
    {% include header.html %}

    <div id="wrapper">
      <div id="wrapper-left">
        {% include menu.html %}

      </div>

      <div id="wrapper-content">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}
  </body>
</html>
